.BackgroundImage {
    background-size :cover;
    background-position: center;
        height: 100vh;
        width: 100%;
        position: fixed; 
        top: 0;
        left: 0;
        transition: background-image 0.5s ease-in-out;
        overflow: hidden;
}